.Rproj.user
.Rhistory
.RData
.Ruserdata
Grocery.Rproj
grocery20171024.RdataTmp
lac-ecuador.pdf
201712backkup.rdata
test.csv
train.csv
train201712backkup.rdata.RData
grocery_cache
grocery_files
rsconnect
*.fst
*.rds
data
*.html